      <div class="row">
        <div class="col s1 hide-on-med-and-down"></div>
        <div class="col s9 index_title">
          <p>今天適合穿什麼呢？</p>
          <div id="locationset">
            <p id="locationarea"><i class="fa fa-map-marker" aria-hidden="true"></i> 台北市</p>
            <p id="timearea"><i class="fa fa-clock-o" aria-hidden="true"></i> 現在</p>
            <p><a href="#modal4"><i class="fa fa-cog" aria-hidden="true"></i> 設定</a></p>
          </div>
        </div>
        <% if (session.authenticated) { %>
        <div class="col s1 add_pic" style="padding-top: 28px">
          <a href="#modal2" style="width:100%;height: 100%;">
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <% } %>
      </div>
      <div class="row cloth_recommand">
        <div class="col s1 hide-on-med-and-down"></div>
        <div class="col s9">
          <div class="row">
            <div class="col s12">
              <div class="row navi_fx1">
                <div class="col s4 m3 dress_icon"><img src="/images/tshirt.png"></div>
                <div class="col s8 m4 dress_name" id="recom_body"><div>T-Shirt 透氣的上衣</div></div>
                <!-- <div class="col s5 dress_detail">Loeafr is addio para mi coma es una prezia</div> -->
              </div>
            </div>
            <div class="col s12" style="padding-top: 30px;"></div>
            <div class="col s12">
              <div class="row">
                <div class="col s4 m3 dress_icon"><img src="/images/pant.png"></div>
                <div class="col s8 m4 dress_name" id="recom_foot"><div>短褲、七分褲</div></div>
                <!-- <div class="col s5 dress_detail">Loeafr is addio para mi coma es una prezia</div> -->
              </div>
            </div>
            <div class="col s12" style="padding-top: 30px;"></div>
            <div class="col s12">
              <div class="row">
                <div class="col s4 m3 dress_icon"><img src="/images/accessories.png"></div>
                <div class="col s8 m4 dress_name" id="recom_foot"><div></div></div>
                <!-- <div class="col s5 dress_detail">Loeafr is addio para mi coma es una prezia</div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="row">
            <div class="col s6 m4 offset-s3 rating">
              <div>搭配方式 &nbsp;&nbsp;</div>
              <div>
                <form>
                <img src="/images/1.png" class='feedback tooltipped' id='in_love' width="30px" height="30px" alt="" data-toggle="tooltip" title="In-Love" data-placement="bottom" data-tooltip="In-Love">
                <img src="/images/2.png" class='feedback tooltipped' id='okay' width="30px" height="30px" alt="" data-toggle="tooltip" title="Okay" data-placement="bottom" data-tooltip="Okay">
                <img src="/images/3.png" class='feedback tooltipped' id='sad' width="30px" height="30px" alt="" data-toggle="tooltip" title="Sad" data-placement="bottom" data-tooltip="Sad">
                  
                </form>
              </div>
            </div>
            <div class="show-only-small"><br><br></div>
            <div class="col s6 m4 offset-s3 rating">
              <div>保暖程度 &nbsp;&nbsp;</div>
              <div>
                <form>
                  <img src="/images/b.png" class='feedback_temp tooltipped' id='hot' width="30px" height="30px" alt="" data-toggle="tooltip" title="Hot" data-placement="bottom" data-tooltip="Hot">
                  <img src="/images/a.png" class='feedback_temp tooltipped' id='soso' width="30px" height="30px" alt="" data-toggle="tooltip" title="Soso" data-placement="bottom" data-tooltip="Soso">
                  <img src="/images/c.png" class='feedback_temp tooltipped' id='cold' width="30px" height="30px" alt="" data-toggle="tooltip" title="Cold" data-placement="bottom" data-tooltip="Cold">
                </form>
              </div>
            </div>
            <div class="show-only-small"><br><br></div>
          </div>
        </div>
      </div>


<div class="modal fade" id="FeedbackNotify" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Feedback Notify</h4>
        </div>
        <div class="modal-body">
          <p>謝謝您的回饋！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>



<script>
  $('#in_love').hover(function() {
        $("#in_love").addClass('transition');
    
    }, function() {
        $("#in_love").removeClass('transition');
    });
  $('#okay').hover(function() {
        $("#okay").addClass('transition');
    
    }, function() {
        $("#okay").removeClass('transition');
    });
  $('#sad').hover(function() {
        $("#sad").addClass('transition');
    
    }, function() {
        $("#sad").removeClass('transition');
    });
  $('#hot').hover(function() {
        $("#hot").addClass('transition');
    
    }, function() {
        $("#hot").removeClass('transition');
    });
  $('#soso').hover(function() {
        $("#soso").addClass('transition');
    
    }, function() {
        $("#soso").removeClass('transition');
    });
  $('#cold').hover(function() {
        $("#cold").addClass('transition');
    
    }, function() {
        $("#cold").removeClass('transition');
    });

$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });

$('.feedback').click(function(){
  var data = {};
  <% if (session.authenticated) { %>
    data['userid'] = "<%= session.User.id %>";
  <% } %>



  data['mood'] = $(this).attr('id');
  data['clothes'] = $('#recom_body').text();

  $.ajax({
    method:'POST',
    url:'/weather/feedback',
    data:data
  }).done(function(){
    $("#FeedbackNotify").modal();
    $('#FeedbackNotify').modal('open');
    console.log('success');
  });

});

$('.feedback_temp').click(function(){

  var feel = $(this).attr('id');
  
  getLocation().then(function(data){
   if(feel=="hot"){
      data['feel'] = -3;
    }
    else if(feel == "cold"){
      data['feel'] = 3;
    }
    else{
      data['feel'] = 0;
    }
    $.ajax({
      url:'/weather/clothes',
      method: 'GET',
      data:data
    }).done(function(data){
      console.log(data);
      
      appendClothes(data);
    });
  
  });

});



</script>